# Introduction

This project leverages the 2025 Individual Market data from the HIX Compare+ Dataset to build a relational database optimized for health insurance plan comparison and analysis. The raw dataset provides detailed plan-level information on nearly every ACA-compliant individual market insurance plan offered across the United States for the 2025 coverage year.

The source files are available in this repository at:

- [data/HIX_ind_plans_unnormalized.csv](https://github.com/nashjafri/carefox_aca_healthcare_database/blob/main/data/HIX_ind_plans_unnormalized.csv)
- [data/HIX_ind_county_area_crosswalk.csv](https://github.com/nashjafri/carefox_aca_healthcare_database/blob/main/data/HIX_ind_county_area_crosswalk.csv)

With 723 columns covering benefits, premiums, deductibles, plan types, and market metadata, the raw data is designed for research flexibility but is not immediately suitable for application development or database integration. In this notebook, we normalize and restructure the data into a set of smaller, well-defined tables that adhere to database best practices and are ready to power a web-based plan comparison tool.

The final normalized tables are available at:
- [data/normalized_tables](https://github.com/nashjafri/carefox_aca_healthcare_database/blob/main/data/normalized_tables)

---

# Data Sources

- [HIX Compare+ Dataset](https://hix-compare.org) (2014–2025)

    Maintained by Ideon in collaboration with the Robert Wood Johnson Foundation, this dataset is freely available to researchers and contains nearly all ACA-compliant health insurance plans.

  
    _HIX Compare+ Dataset Documentation, Version October 28, 2024_

  
    Questions can be directed to HIXsupport@ideonapi.com

- [CMS State-Specific Age Curve Variations](https://www.cms.gov/CCIIO/Programs-and-Initiatives/Health-Insurance-Market-Reforms/Downloads/StateSpecAgeCrv053117.pdf)

    Age-based premium multipliers, as published by the Centers for Medicare & Medicaid Services (CMS):
    StateSpecAgeCrv053117.pdf

- [Kaggle ZIP-FIPS Crosswalk](https://www.kaggle.com/datasets/danofer/zipcodes-county-fips-crosswalk)

    Dataset for mapping ZIP codes to FIPS county codes, for the purpose of geospatial an analysis.
    
---

# Acknowledgement

I would especially like to thank [Colin Crihfield](https://ideonapi.com/resources/employee-spotlight/employee-spotlight-colin-crihfield/), Senior Product Manager at Ideon, NYC, for his kind and prompt help regarding my inquiries about the data.


---

# Dataset Description

A detailed data description can be found in the HIX data documentation. This is contained in the folder [data/HIX_data_documentation.pdf](https://github.com/nashjafri/carefox_aca_healthcare_database/blob/main/data/HIX_data_documentation.pdf). 

---

# Data Normalization

We convert the raw flat file into a normalized relational schema suitable for SQL queries and a web-based insurance plan comparison tool by decomposing into multiple interrelated tables. Below is a quick display of the unnormalized plans data.

In [35]:
import pandas as pd

In [41]:
unnormalized_plans_data = pd.read_csv('../data/HIX_ind_plans_unnormalized.csv')
unnormalized_plans_data.head()

,UNIQUE,YEAR,DATECAPTURE,PLANID,ST,AREA,CARRIER,PLANNAME,METAL,PLANTYPE,...,TEHBInnFamilyMOOP,TEHBInnFamilyMOOP_TIERS,TEHBInnTier1FamilyMOOPA,TEHBInnTier2FamilyMOOPA,MEHBOutOfNetFamilyMOOP,DEHBOutOfNetFamilyMOOP,TEHBOutOfNetFamilyMOOP,MEHBOutOfNetFamilyMOOPA,DEHBOutOfNetFamilyMOOPA,TEHBOutOfNetFamilyMOOPA
0,NaN,2025,2024-10-05,73836AK0950001,AK,AK01,Moda Health,Moda Pioneer Alaska Standard Silver,Silver,1,...,1,1.0,16000.0,NaN,0,0,1,NaN,NaN,54600.0
1,NaN,2025,2024-10-05,73836AK0950001,AK,AK02,Moda Health,Moda Pioneer Alaska Standard Silver,Silver,1,...,1,1.0,16000.0,NaN,0,0,1,NaN,NaN,54600.0
2,NaN,2025,2024-10-05,73836AK0930001,AK,AK02,Moda Health,Moda Pioneer Gold 1500,Gold,1,...,1,1.0,12000.0,NaN,0,0,1,NaN,NaN,36000.0
3,NaN,2025,2024-10-05,73836AK0950001,AK,AK03,Moda Health,Moda Pioneer Alaska Standard Silver,Silver,1,...,1,1.0,16000.0,NaN,0,0,1,NaN,NaN,54600.0
4,NaN,2025,2024-10-05,73836AK0930001,AK,AK03,Moda Health,Moda Pioneer Gold 1500,Gold,1,...,1,1.0,12000.0,NaN,0,0,1,NaN,NaN,36000.0

In [43]:
unnormalized_plans_data.columns

Index(['UNIQUE', 'YEAR', 'DATECAPTURE', 'PLANID', 'ST', 'AREA', 'CARRIER',
       'PLANNAME', 'METAL', 'PLANTYPE',
       ...
       'TEHBInnFamilyMOOP', 'TEHBInnFamilyMOOP_TIERS',
       'TEHBInnTier1FamilyMOOPA', 'TEHBInnTier2FamilyMOOPA',
       'MEHBOutOfNetFamilyMOOP', 'DEHBOutOfNetFamilyMOOP',
       'TEHBOutOfNetFamilyMOOP', 'MEHBOutOfNetFamilyMOOPA',
       'DEHBOutOfNetFamilyMOOPA', 'TEHBOutOfNetFamilyMOOPA'],
      dtype='object', length=723)

# Plans Table

We first create a smaller table `plans` from the unnormalized plans table `data/HIX_ind_plans_unnormalized.csv`. The relevant columns retained are: 

- `PLANID` : The HIOS ID of the Plan (not necessarily unique)
- `AREA` : State code and rating area number    
- `ST` : State Code     
- `CARRIER` : Carrier Name
- `PLANNAME` : Marketing name of the Plan 
- `METAL` : Plan metal level (Catastrophic, Bronze, Silver, Gold, or Platinum)
- `PLANTYPE` : Plan type (1 - PPO, 2 - HMO, 3 - POS, 4 - EPO, 5 - Other)   
- `CSR` : Is this a Cost-Sharing-Reduction plan? (1 - True, 0 - False)
- `PLANMARKET` : Is this plan available on a state/federal marketplace? (1 - only on state/federal, 2 - only off a state/federal, 3 - both on and off state/federal)
- `CHILDONLY` : Is this a Child-Only plan? (1 - True, 0 - False) 
- `NETWORKID` : Arbitrary identifier for unique network
- `actively_marketed` :  Is this plan being actively marketed? (1 - True, 0 - False) 
- `MULTITIERED` : Does this plan have at least with benefit with 2 in-network tiers? (1 - True, 0 - False)

In [149]:
plans_columns = [
    'PLANID',       
    'AREA',         
    'ST',          
    'CARRIER',      
    'PLANNAME',     
    'METAL',        
    'PLANTYPE',     
    'CSR',          
    'PLANMARKET',   
    'CHILDONLY',    
    'NETWORKID',    
    'actively_marketed',  
    'MULTITIERED'   
]

plans = unnormalized_plans_data[plans_columns].copy()

# Convert actively_marketed (bool to int) 
plans['actively_marketed'] = plans['actively_marketed'].astype('int64')
plans.to_csv('../data/normalized_tables/plans.csv', index=False)
plans.head()

,PLANID,AREA,ST,CARRIER,PLANNAME,METAL,PLANTYPE,CSR,PLANMARKET,CHILDONLY,NETWORKID,actively_marketed,MULTITIERED
0,73836AK0950001,AK01,AK,Moda Health,Moda Pioneer Alaska Standard Silver,Silver,1,0,3,0,201379.0,1,0
1,73836AK0950001,AK02,AK,Moda Health,Moda Pioneer Alaska Standard Silver,Silver,1,0,3,0,201379.0,1,0
2,73836AK0930001,AK02,AK,Moda Health,Moda Pioneer Gold 1500,Gold,1,0,3,0,201379.0,1,1
3,73836AK0950001,AK03,AK,Moda Health,Moda Pioneer Alaska Standard Silver,Silver,1,0,3,0,201379.0,1,0
4,73836AK0930001,AK03,AK,Moda Health,Moda Pioneer Gold 1500,Gold,1,0,3,0,201379.0,1,1

In [284]:
# Let's look at plans which are not actively marketed
plans[plans['actively_marketed'] == 0]

,PLANID,AREA,ST,CARRIER,PLANNAME,METAL,PLANTYPE,CSR,PLANMARKET,CHILDONLY,NETWORKID,actively_marketed,MULTITIERED
6153,86545CT1340022,CT04,CT,Anthem,Anthem Gold PPO Pathway 2000/10%,Gold,1,0,2,0,100232.0,0,0
6154,86545CT1340022,CT08,CT,Anthem,Anthem Gold PPO Pathway 2000/10%,Gold,1,0,2,0,100232.0,0,0
6155,86545CT1340022,CT02,CT,Anthem,Anthem Gold PPO Pathway 2000/10%,Gold,1,0,2,0,100232.0,0,0
6156,86545CT1340022,CT05,CT,Anthem,Anthem Gold PPO Pathway 2000/10%,Gold,1,0,2,0,100232.0,0,0
6158,86545CT1340022,CT06,CT,Anthem,Anthem Gold PPO Pathway 2000/10%,Gold,1,0,2,0,100232.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76699,87226TX0110007,TX19,TX,Ambetter,Elite Gold,Gold,2,0,2,0,206547.0,0,0
76700,87226TX0110007,TX22,TX,Ambetter,Elite Gold,Gold,2,0,2,0,206547.0,0,0
76701,87226TX0110007,TX17,TX,Ambetter,Elite Gold,Gold,2,0,2,0,206547.0,0,0
77674,87226TX0110007,TX24,TX,Ambetter,Elite Gold,Gold,2,0,2,0,206547.0,0,0
77675,87226TX0110007,TX23,TX,Ambetter,Elite Gold,Gold,2,0,2,0,206547.0,0,0

# State Age Curve Table

Next, we manually created a csv file containing the state specific age curving rates for the individual premiums, based on the [State-Specific Age Curve Variations from CMS](https://www.cms.gov/CCIIO/Programs-and-Initiatives/Health-Insurance-Market-Reforms/Downloads/StateSpecAgeCrv053117.pdf). Note that premium rate fpr age 21 has a rate multiplier of 1, meaning it is considered to bethe base premium value. Premium values for other ages are derived by multiplying the base premium value at the age 21 by the respective rate multiplier for the given state and age.

$$\text{(Premium at Age x | state ST)} = (\text{Base Premium at Age 21})\times(\text{Rate Multiplier at Age x | state ST})$$

The columns are:

- `AGE` : Age in years (0, 1, .., 120)
- `DEFAULT` : Default multiplier rates for all states except AL, DC, MA, MN, MS, OR, UT
- `AL` : Multiplier rates for AL
- `DC` : Multiplier rates for DC
- `MA` : Multiplier rates for MA
- `MN` : Multiplier rates for MN
- `MS` : Multiplier rates for MS
- `OR` : Multiplier rates for OR
- `UT` : Multiplier rates for UT

In [268]:
state_age_curve = pd.read_csv('../data/normalized_tables/state_age_curve.csv')
state_age_curve.head()

   AGE  DEFAULT     AL     DC     MA    MN     MS     OR     UT
0    0    0.765  0.635  0.654  0.751  0.89  0.635  0.635  0.793
1    1    0.765  0.635  0.654  0.751  0.89  0.635  0.635  0.793
2    2    0.765  0.635  0.654  0.751  0.89  0.635  0.635  0.793
3    3    0.765  0.635  0.654  0.751  0.89  0.635  0.635  0.793
4    4    0.765  0.635  0.654  0.751  0.89  0.635  0.635  0.793

# Premium Table

Next, we create a `premium` table, which contains the following columns:

- `PLANID` : The HIOS ID of the Plan (not necessarily unique)
- `AREA` : State code and rating area number
- `ST` : State Code
- `PREMI21_BASE` : Base Premium for an individual of age 21
- `PREMI2C30` : Premium for one individual of age 30 and 2 children aged 0-14
- `PREMC2C30` : Premium for two individuals of age 30 and 2 children aged 0-14

Note that the unnormalized plans table **does not** have the base premium for an individual aged 21 years. This is calculated by dividing the value of the column `PREMI27` (or quivalently `PREMI50`) from the unnormalized table, i.e. the premiums for individuals aged 27 and 50 years respectively, by the rate multiplier for age 27 (respectively 50 ) in that state. The rate multipliers are derived from the `state_age_curve` table.

$$\text{(Base Premium at Age 21 | state ST)} = (\text{Premium at Age 27})/(\text{Rate Multiplier at Age 27 | state ST})$$

Let us first check whether the base age premium rates are consistent when computed using `PREMI27` and `PREMI50` (the premium rates for ages 27 and 50 respectively). As examples, we only consider UT and AK plans.

In [167]:
# Only consider UT plans for now
UT_plans = unnormalized_plans_data[(unnormalized_plans_data['ST'] == 'UT') & plans_raw['PREMI27'].notna() & unnormalized_plans_data['PREMI50'].notna()].copy()

# Calculate base rates from PREMI27 and PREMI50
UT_plans['base_from_27'] = UT_plans['PREMI27'] / 1.39
UT_plans['base_from_50'] = UT_plans['PREMI50'] / 2.127

# Calculate difference
UT_plans['abs_diff'] = (UT_plans['base_from_27'] - UT_plans['base_from_50']).abs()
UT_plans['percent_diff'] = 100 * UT_plans['abs_diff'] / UT_plans[['base_from_27', 'base_from_50']].mean(axis=1)
UT_plans[['PLANID', 'base_from_27', 'base_from_50', 'abs_diff', 'percent_diff']].head()

                  PLANID  base_from_27  base_from_50  abs_diff  percent_diff
77927     42261UT0060022    396.129496    396.125999  0.003497      0.000883
77928  42261UT0060023-04    369.575540    369.572167  0.003372      0.000912
77929     42261UT0060024    267.575540    267.574048  0.001492      0.000557
77930  42261UT0060026-04    367.647482    367.644570  0.002912      0.000792
77931     42261UT0060025    386.719424    386.723084  0.003660      0.000946

In [171]:
max(UT_plans['abs_diff'])

0.008093947972838578

In [169]:
max(UT_plans['percent_diff'])

0.0020662829283792047

In [207]:
# Now we consider AK plans
AK_plans = unnormalized_plans_data[(unnormalized_plans_data['ST'] == 'AK') & plans_raw['PREMI27'].notna() & unnormalized_plans_data['PREMI50'].notna()].copy()

# Calculate base rates from PREMI27 and PREMI50
AK_plans['base_from_27'] = AK_plans['PREMI27'] / 1.048
AK_plans['base_from_50'] = AK_plans['PREMI50'] / 1.786 

# Calculate difference
AK_plans['abs_diff'] = (AK_plans['base_from_27'] - AK_plans['base_from_50']).abs()
AK_plans['percent_diff'] = 100 * AK_plans['abs_diff'] / AK_plans[['base_from_27', 'base_from_50']].mean(axis=1)
AK_plans[['PLANID', 'base_from_27', 'base_from_50', 'abs_diff', 'percent_diff']].head()

           PLANID  base_from_27  base_from_50  abs_diff  percent_diff
0  73836AK0950001    789.122137    789.473684  0.351547      0.044539
1  73836AK0950001    830.152672    829.787234  0.365438      0.044030
2  73836AK0930001    745.229008    744.680851  0.548157      0.073583
3  73836AK0950001    808.206107    807.950728  0.255379      0.031603
4  73836AK0930001    725.190840    725.083987  0.106853      0.014736

In [175]:
max(AL_plans['abs_diff'])

0.00746903396225207

In [177]:
max(AL_plans['percent_diff'])

0.002652292253040064

We see that the maximum error is not that large (< 1 cent), so we can use either `PREMI27` or `PREMI50` to compute the base premium `PREMI21_BASE` for age 21. Here we use `PREMI27`.

In [209]:
premium_subset = unnormalized_plans_data[['PLANID', 'AREA', 'ST', 'PREMI27', 'PREMI2C30', 'PREMC2C30']].dropna(subset=['PREMI27']).copy()

# Get rate multiplier at AGE 27 from the state_age_curve table
age_27_rate = state_age_curve[state_age_curve['AGE'] == 27].iloc[0]

# State-specific rules for AL, DC, MA, MN, MS, UT, OR
state_specific_states = ['AL', 'DC', 'MA', 'MN', 'MS', 'UT', 'OR']

# Function to pick correct multiplier
def select_multiplier(state):
    if state in state_specific_states:
        return age_27_rate[state]
    else:
        return age_27_rate['DEFAULT']

# Apply and calculate Base Individual Premium
premium_subset['27multiplier'] = premium_subset['ST'].apply(select_multiplier)
premium_subset['PREMI21_BASE'] = premium_subset['PREMI27'] / premium_subset['27multiplier']

# Keep final columns
premium = premium_subset[['PLANID', 'AREA', 'ST', 'PREMI21_BASE', 'PREMI2C30', 'PREMC2C30']]
premium.to_csv('../data/normalized_tables/premium.csv', index=False)

premium.head()

           PLANID  AREA  ST  PREMI21_BASE  PREMI2C30  PREMC2C30
0  73836AK0950001  AK01  AK    789.122137     2104.0     3000.0
1  73836AK0950001  AK02  AK    830.152672     2212.0     3154.0
2  73836AK0930001  AK02  AK    745.229008     1985.0     2830.0
3  73836AK0950001  AK03  AK    808.206107     2153.0     3070.0
4  73836AK0930001  AK03  AK    725.190840     1933.0     2756.0

# ZIP to FIPS Mapping Table

The `zip_fips` table maps ZIP codes to FIPS codes, state, and area codes to support geospatial analysis and help match users to networks based on their location. This was taken from the [Kaggle dataset-US Zipcodes to County State to FIPS Corsswalk](https://www.kaggle.com/datasets/danofer/zipcodes-county-fips-crosswalk). The columns of this table are:

- `ZIP` : ZIP code 
- `COUNTY` : County 
- `ST` : US State
- `FIPS` : FIPS (Federal Information Processing Standards) code

The column names from the original dataset have been changed to be more consistent with the rest of the tables.

In [63]:
zip_fips = pd.read_csv('../data/normalized_tables/zip_fips_crosswalk.csv')
zip_fips.head()

     ZIP          COUNTY  ST  FIPS
0  36003  Autauga County  AL  1001
1  36006  Autauga County  AL  1001
2  36067  Autauga County  AL  1001
3  36066  Autauga County  AL  1001
4  36703  Autauga County  AL  1001

# County to Rating Area Mapping Table

The plan and premium information in the HIX Compare data files are shown at the
rating area level. A supplmental document for county to rating area crosswalk is provided by HIX and can be found under [data/HIX_ind_county_area_crosswalk.csv](https://github.com/nashjafri/carefox_aca_healthcare_database/blob/main/data/HIX_ind_county_area_crosswalk.csv). This is aimed for analyzing the data at a county level. The `county_area` table is derived from this data by renaming the columns to the following:

- `FIPS` : FIPS (Federal Information Processing Standards) code
- `COUNTY` : County 
- `AREA_COUNT` : Number of rating areas each county is associated with
- `AREA` : State code and rating area code

In [276]:
county_area = pd.read_csv('../data/HIX_ind_county_area_crosswalk.csv')
county_area.head()

   fips_code     county_name  rating_area_count rating_area_id  year
0       1001  Autauga County                  1           AL11  2025
1       1003  Baldwin County                  1           AL13  2025
2       1005  Barbour County                  1           AL13  2025
3       1007     Bibb County                  1           AL03  2025
4       1009   Blount County                  1           AL03  2025

In [278]:
county_area = county_area.drop(columns='year')

county_area_rename_dict = {
    'fips_code': 'FIPS',
    'county_name': 'COUNTY',
    'rating_area_count': 'AREA_COUNT',
    'rating_area_id': 'AREA'
}

county_area = county_area.rename(columns=county_area_rename_dict)
county_area.to_csv('../data/normalized_tables/county_area_crosswalk.csv', index=False)
county_area.head()

   FIPS          COUNTY  AREA_COUNT  AREA
0  1001  Autauga County           1  AL11
1  1003  Baldwin County           1  AL13
2  1005  Barbour County           1  AL13
3  1007     Bibb County           1  AL03
4  1009   Blount County           1  AL03

We see below that the counties Norfolk, Plymouth and Worcester in Massachusetts are associated with 3 rating areas.

In [280]:
county_area[county_area['AREA_COUNT'] == 3]

       FIPS            COUNTY  AREA_COUNT  AREA
1246  25021    Norfolk County           3  MA03
1247  25021    Norfolk County           3  MA05
1248  25021    Norfolk County           3  MA06
1249  25023   Plymouth County           3  MA03
1250  25023   Plymouth County           3  MA06
1251  25023   Plymouth County           3  MA07
1253  25027  Worcester County           3  MA01
1254  25027  Worcester County           3  MA02
1255  25027  Worcester County           3  MA03

# Benefits Table

We transform the wide-format benefit design from the unnormalized HIX plans data into a normalized long-format structure to facilitate cleaner storage and analysis. Each benefit code (description given below) is followed by 21 suffix codes (description given below) in the raw HIX plans data. Each benefit is therefore associated with multtiple cost-sharing columns, such as copays and coinsurance for different tiers and network statuses. For each benefit code, the script below extracts the relevant columns from the original dataset, renames them to a standard set of suffixes, and appends a column indicating the specific benefit. Finally, all benefit-specific subsets are concatenated into a single long-format DataFrame and saved as benefits.csv, enabling structured querying and integration with the rest of the normalized schema.


**Benefits Codes**

- AB : ambulance
- EY : child_eye_exam
- EW : child_eyewear
- DT : diagnostic_test
- DM : durable_medical_equipment
- ER : emergency_room
- GD : generic_drugs
- HA : habilitation_services
- HH : home_health_care
- HS : hospice_service
- IM : imaging
- IB : inpatient_birth
- IP : inpatient_facility
- IN : inpatient_mental_health
- IH : inpatient_physician
- IS : inpatient_substance
- ND : non_preferred_brand_drugs
- OP : outpatient_facility
- OM : outpatient_mental_health
- OH : outpatient_physician
- OS : outpatient_substance
- PD : preferred_brand_drugs
- PN : prenatal_postnatal_care
- PV : preventative_care
- PC : primary_care_physician
- RH : rehabilitation_services
- SN : skilled_nursing
- SP : specialist
- SD : specialty_drugs
- UC : urgent_care

**Suffix Description**

- LIMITED : Does this benefit have a limit? (1 - True, 0 - False)
- CopayInn_TIERS : Number of in-network tiers for this benefit (1 or 2)
- CopayInnTier1Complex : Does Tier 1 for this benefit have a complex benefit structure? (1 - True, 0 - False)
- CopayInnTier1 : The copay code for the (Tier 1) In-Network benefit (0-11, 99; See copay/coninsurance code description below)
- CopayInnTier1A : The copay amount in **USD** for the (Tier 1) In-Network benefit (blank if not applicable)
- CopayInnTier2Complex : Does Tier 2 for this benefit have a complex benefit structure? (1 - True, 0 - False)
- CopayInnTier2 : The copay code for Tier 2 In-Network, if applicable (0-11, 99; See copay/coninsurance code description below)
- CopayInnTier2A : The copay amount in **USD** for Tier 2 In-Network, if applicable (blank if not applicable)
- CoinsInn_TIERS : Number of in-network tiers for this benefit (1 or 2)
- CoinsInnTier1Complex : Does Tier 1 for this benefit have a complex benefit structure? (1 - True, 0 - False)
- CoinsInnTier1 : The coinsurance code for the (Tier 1) In-Network benefit (0-11, 99; See copay/coninsurance code description below)
- CoinsInnTier1A : The coinsurance amount in **percent** for the (Tier 1) In-Network benefit (blank if not applicable)
- CoinsInnTier2Complex : Does Tier 2 for this benefit have a complex benefit structure? (1 - True, 0 - False)
- CoinsInnTier2 :  The coinsurance code for Tier 2 In-Network, if applicable (0-11, 99; See copay/coninsurance code description below)
- CoinsInnTier2A : The coinsurance amount in **percent** for Tier 2 In-Network, if applicable (blank if not applicable)
- CopayOutofNetComplex : Do any Out-of-Network benefits have a complex benefit structure? (1 - True, 0 - False)
- CopayOutofNet : The copay code for any Out-of- Network benefits (0-11, 99; See copay/coninsurance code description below)
- CopayOutofNetA : The copay amount in **USD** for any OutofNetwork Benefits (blank if not applicable)
- CoinsOutofNetComplex : Do any Out-of-Network benefits have a complex benefit structure? (1 - True, 0 - False)
- CoinsOutofNet :  The coinsurance code for any Out-of- Network benefits (0-11, 99; See copay/coninsurance code description below)
- CoinsOutofNetA : The coinsurance amount in **percent** for any OutofNetwork Benefits (blank if not applicable)

**Copay/Coinsurance Codes**

- 0 : Not applicable or no coverage. This benefit is completely uncovered and/or there is no coverage for the relevant tier.
- 1 : No charge. This benefit requires no payment by the consumer.
- 2 : No charge after deductible. The consumer pays 100% until the deductible is reached, after which there is no charge to the consumer.
- 3 : The copay/coinsurance amount is always applicable for this benefit.
- 4 : The copay/coinsurance amount is applicable for this benefit only after the deductible has been reached.
- 5 : The copay/coinsurance amount is applicable for this benefit only before the deductible has been reached.
- 6 : The copay is calculated per day (for inpatient facility only). E.g. \$100 per day for hospital charges.
- 7 : The copay is calculated per stay (for inpatient facility only). E.g. \$500 per stay for hospital charges.
- 8 : The copay is calculated per day (for inpatient facility only), but is only applicable after the deductible has been reached. Before that, the consumer is responsible for 100\% of the cost.
- 9 : The copay is calculated per day (for inpatient facility only), but is only applicable before the deductible has been reached.
- 10 : The copay is calculated per stay (for inpatient facility only), but is only applicable after the deductible has been reached. Before that, the consumer is responsible for 100\% of the cost.
- 11 : The copay is calculated per stay (for inpatient facility only), but is only applicable before the deductible has been reached.
- 99 : The cost-sharing for this benefit is unknown.

The final columns in our `benefits` table are all the suffixes, along with a column called `benefit_code`, and the `PLANID` and `AREA` columns.

In [213]:
benefit_codes = [
    'AB', 'EY', 'EW', 'DT', 'DM', 'ER', 'GD', 'HA', 'HH', 'HS', 'IM', 'IB',
    'IP', 'IN', 'IH', 'IS', 'ND', 'OP', 'OM', 'OH', 'OS', 'PD', 'PN', 'PV',
    'PC', 'RH', 'SN', 'SP', 'SD', 'UC'
]

benefit_suffixes = [
    'LIMITED', 'CopayInn_TIERS', 'CopayInnTier1Complex', 'CopayInnTier1', 'CopayInnTier1A',
    'CopayInnTier2Complex', 'CopayInnTier2', 'CopayInnTier2A',
    'CoinsInn_TIERS', 'CoinsInnTier1Complex', 'CoinsInnTier1', 'CoinsInnTier1A',
    'CoinsInnTier2Complex', 'CoinsInnTier2', 'CoinsInnTier2A',
    'CopayOutofNetComplex', 'CopayOutofNet', 'CopayOutofNetA',
    'CoinsOutofNetComplex', 'CoinsOutofNet', 'CoinsOutofNetA'
]

# Build long format benefit table
long_benefits = []

for code in benefit_codes:
    cols = [f"{code}_{suffix}" for suffix in benefit_suffixes if f"{code}_{suffix}" in unnormalized_plans_data.columns]
    if not cols:
        continue
    subset = unnormalized_plans_data[['PLANID', 'AREA'] + cols].copy()
    # Rename benefit columns generically
    subset.columns = ['PLANID', 'AREA'] + benefit_suffixes[:len(cols)]
    subset['benefit_code'] = code
    long_benefits.append(subset)

# Combine all benefits into one DataFrame
benefits = pd.concat(long_benefits, ignore_index=True)

benefits.to_csv('../data/normalized_tables/benefits.csv', index=False)
benefits.head()

,PLANID,AREA,LIMITED,CopayInn_TIERS,CopayInnTier1Complex,CopayInnTier1,CopayInnTier1A,CopayInnTier2Complex,CopayInnTier2,CopayInnTier2A,...,CoinsInnTier2Complex,CoinsInnTier2,CoinsInnTier2A,CopayOutofNetComplex,CopayOutofNet,CopayOutofNetA,CoinsOutofNetComplex,CoinsOutofNet,CoinsOutofNetA,benefit_code
0,73836AK0950001,AK01,0.0,1.0,0.0,0.0,NaN,0.0,0.0,NaN,...,0.0,0.0,NaN,0.0,0.0,NaN,0.0,4.0,40.0,AB
1,73836AK0950001,AK02,0.0,1.0,0.0,0.0,NaN,0.0,0.0,NaN,...,0.0,0.0,NaN,0.0,0.0,NaN,0.0,4.0,40.0,AB
2,73836AK0930001,AK02,0.0,1.0,0.0,0.0,NaN,0.0,0.0,NaN,...,0.0,0.0,NaN,0.0,0.0,NaN,0.0,4.0,30.0,AB
3,73836AK0950001,AK03,0.0,1.0,0.0,0.0,NaN,0.0,0.0,NaN,...,0.0,0.0,NaN,0.0,0.0,NaN,0.0,4.0,40.0,AB
4,73836AK0930001,AK03,0.0,1.0,0.0,0.0,NaN,0.0,0.0,NaN,...,0.0,0.0,NaN,0.0,0.0,NaN,0.0,4.0,30.0,AB

In [221]:
benefits.shape

(2547540, 24)

In [251]:
# Deductible table: columns containing 'Ded'
deductible = unnormalized_plans_data[['PLANID', 'AREA'] + [col for col in unnormalized_plans_data.columns if 'Ded' in col]]

# MOOP table: columns containing 'MOOP'
moop = unnormalized_plans_data[['PLANID', 'AREA'] + [col for col in unnormalized_plans_data.columns if 'MOOP' in col]]

deductible.to_csv('data/normalized_tables/deductibles.csv', index=False)
moop.to_csv('data/normalized_tables/moop.csv', index=False)

In [253]:
deductible.columns

Index(['PLANID', 'AREA', 'MEHBDedInnIndividual', 'MEHBDedInnIndividual_TIERS',
       'MEHBDedInnTier1IndividualA', 'MEHBDedInnTier2IndividualA',
       'DEHBDedInnIndividual', 'DEHBDedInnIndividual_TIERS',
       'DEHBDedInnTier1IndividualA', 'DEHBDedInnTier2IndividualA',
       'TEHBDedInnIndividual', 'TEHBDedInnIndividual_TIERS',
       'TEHBDedInnTier1IndividualA', 'TEHBDedInnTier2IndividualA',
       'MEHBDedOutOfNetIndividual', 'DEHBDedOutOfNetIndividual',
       'TEHBDedOutOfNetIndividual', 'MEHBDedOutOfNetIndividualA',
       'DEHBDedOutOfNetIndividualA', 'TEHBDedOutOfNetIndividualA',
       'MEHBDedInnFamily', 'MEHBDedInnFamily_TIERS', 'MEHBDedInnTier1FamilyA',
       'MEHBDedInnTier2FamilyA', 'DEHBDedInnFamily', 'DEHBDedInnFamily_TIERS',
       'DEHBDedInnTier1FamilyA', 'DEHBDedInnTier2FamilyA', 'TEHBDedInnFamily',
       'TEHBDedInnFamily_TIERS', 'TEHBDedInnTier1FamilyA',
       'TEHBDedInnTier2FamilyA', 'MEHBDedOutOfNetFamily',
       'DEHBDedOutOfNetFamily', 'TEHBDedOutOfNetFamily',
       'MEHBDedOutOfNetFamilyA', 'DEHBDedOutOfNetFamilyA',
       'TEHBDedOutOfNetFamilyA'],
      dtype='object')

In [256]:
deductible.shape

(84918, 38)

We’ll use this renaming pattern:

\[CoverageType]\_\[NetworkType]\_\[PersonType]\_\[Field]

Where:

CoverageType = MED (Medical), DRUG (Drug), TOT (Total/Integrated)

NetworkType = IN, OUT

PersonType = IND (Individual), FAM (Family)

Field = CODE (for MEHB/DEHB/TEHB), TIERS, TIER1A, TIER2A, etc

In [258]:
deduct_rename_dict = {
    'MEHBDedInnIndividual': 'MED_IN_IND_CODE',
    'MEHBDedInnIndividual_TIERS': 'MED_IN_IND_TIERS',
    'MEHBDedInnTier1IndividualA': 'MED_IN_IND_TIER1_AMOUNT',
    'MEHBDedInnTier2IndividualA': 'MED_IN_IND_TIER2_AMOUNT',
    
    'DEHBDedInnIndividual': 'DRUG_IN_IND_CODE',
    'DEHBDedInnIndividual_TIERS': 'DRUG_IN_IND_TIERS',
    'DEHBDedInnTier1IndividualA': 'DRUG_IN_IND_TIER1_AMOUNT',
    'DEHBDedInnTier2IndividualA': 'DRUG_IN_IND_TIER2_AMOUNT',
    
    'TEHBDedInnIndividual': 'TOT_IN_IND_CODE',
    'TEHBDedInnIndividual_TIERS': 'TOT_IN_IND_TIERS',
    'TEHBDedInnTier1IndividualA': 'TOT_IN_IND_TIER1_AMOUNT',
    'TEHBDedInnTier2IndividualA': 'TOT_IN_IND_TIER2_AMOUNT',
    
    'MEHBDedOutOfNetIndividual': 'MED_OUT_IND_CODE',
    'DEHBDedOutOfNetIndividual': 'DRUG_OUT_IND_CODE',
    'TEHBDedOutOfNetIndividual': 'TOT_OUT_IND_CODE',
    
    'MEHBDedOutOfNetIndividualA': 'MED_OUT_IND_AMOUNT',
    'DEHBDedOutOfNetIndividualA': 'DRUG_OUT_IND_AMOUNT',
    'TEHBDedOutOfNetIndividualA': 'TOT_OUT_IND_AMOUNT',
    
    'MEHBDedInnFamily': 'MED_IN_FAM_CODE',
    'MEHBDedInnFamily_TIERS': 'MED_IN_FAM_TIERS',
    'MEHBDedInnTier1FamilyA': 'MED_IN_FAM_TIER1_AMOUNT',
    'MEHBDedInnTier2FamilyA': 'MED_IN_FAM_TIER2_AMOUNT',
    
    'DEHBDedInnFamily': 'DRUG_IN_FAM_CODE',
    'DEHBDedInnFamily_TIERS': 'DRUG_IN_FAM_TIERS',
    'DEHBDedInnTier1FamilyA': 'DRUG_IN_FAM_TIER1_AMOUNT',
    'DEHBDedInnTier2FamilyA': 'DRUG_IN_FAM_TIER2_AMOUNT',
    
    'TEHBDedInnFamily': 'TOT_IN_FAM_CODE',
    'TEHBDedInnFamily_TIERS': 'TOT_IN_FAM_TIERS',
    'TEHBDedInnTier1FamilyA': 'TOT_IN_FAM_TIER1_AMOUNT',
    'TEHBDedInnTier2FamilyA': 'TOT_IN_FAM_TIER2_AMOUNT',
    
    'MEHBDedOutOfNetFamily': 'MED_OUT_FAM_CODE',
    'DEHBDedOutOfNetFamily': 'DRUG_OUT_FAM_CODE',
    'TEHBDedOutOfNetFamily': 'TOT_OUT_FAM_CODE',
    
    'MEHBDedOutOfNetFamilyA': 'MED_OUT_FAM_AMOUNT',
    'DEHBDedOutOfNetFamilyA': 'DRUG_OUT_FAM_AMOUNT',
    'TEHBDedOutOfNetFamilyA': 'TOT_OUT_FAM_AMOUNT'
}


deductible = deductible.rename(columns=deduct_rename_dict)
deductible.to_csv('data/normalized_tables/deductibles.csv', index=False)
deductible.head()

,PLANID,AREA,MED_IN_IND_CODE,MED_IN_IND_TIERS,MED_IN_IND_TIER1_AMOUNT,MED_IN_IND_TIER2_AMOUNT,DRUG_IN_IND_CODE,DRUG_IN_IND_TIERS,DRUG_IN_IND_TIER1_AMOUNT,DRUG_IN_IND_TIER2_AMOUNT,...,TOT_IN_FAM_CODE,TOT_IN_FAM_TIERS,TOT_IN_FAM_TIER1_AMOUNT,TOT_IN_FAM_TIER2_AMOUNT,MED_OUT_FAM_CODE,DRUG_OUT_FAM_CODE,TOT_OUT_FAM_CODE,MED_OUT_FAM_AMOUNT,DRUG_OUT_FAM_AMOUNT,TOT_OUT_FAM_AMOUNT
0,73836AK0950001,AK01,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,1,1.0,10000.0,NaN,0,0,1,NaN,NaN,35400.0
1,73836AK0950001,AK02,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,1,1.0,10000.0,NaN,0,0,1,NaN,NaN,35400.0
2,73836AK0930001,AK02,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,1,2.0,3000.0,6000.0,0,0,1,NaN,NaN,18000.0
3,73836AK0950001,AK03,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,1,1.0,10000.0,NaN,0,0,1,NaN,NaN,35400.0
4,73836AK0930001,AK03,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,1,2.0,3000.0,6000.0,0,0,1,NaN,NaN,18000.0

In [260]:
moop.columns

Index(['PLANID', 'AREA', 'MEHBInnIndividualMOOP',
       'MEHBInnIndividualMOOP_TIERS', 'MEHBInnTier1IndividualMOOPA',
       'MEHBInnTier2IndividualMOOPA', 'DEHBInnIndividualMOOP',
       'DEHBInnIndividualMOOP_TIERS', 'DEHBInnTier1IndividualMOOPA',
       'DEHBInnTier2IndividualMOOPA', 'TEHBInnIndividualMOOP',
       'TEHBInnIndividualMOOP_TIERS', 'TEHBInnTier1IndividualMOOPA',
       'TEHBInnTier2IndividualMOOPA', 'MEHBOutOfNetIndividualMOOP',
       'DEHBOutOfNetIndividualMOOP', 'TEHBOutOfNetIndividualMOOP',
       'MEHBOutOfNetIndividualMOOPA', 'DEHBOutOfNetIndividualMOOPA',
       'TEHBOutOfNetIndividualMOOPA', 'MEHBInnFamilyMOOP',
       'MEHBInnFamilyMOOP_TIERS', 'MEHBInnTier1FamilyMOOPA',
       'MEHBInnTier2FamilyMOOPA', 'DEHBInnFamilyMOOP',
       'DEHBInnFamilyMOOP_TIERS', 'DEHBInnTier1FamilyMOOPA',
       'DEHBInnTier2FamilyMOOPA', 'TEHBInnFamilyMOOP',
       'TEHBInnFamilyMOOP_TIERS', 'TEHBInnTier1FamilyMOOPA',
       'TEHBInnTier2FamilyMOOPA', 'MEHBOutOfNetFamilyMOOP',
       'DEHBOutOfNetFamilyMOOP', 'TEHBOutOfNetFamilyMOOP',
       'MEHBOutOfNetFamilyMOOPA', 'DEHBOutOfNetFamilyMOOPA',
       'TEHBOutOfNetFamilyMOOPA'],
      dtype='object')

In [262]:
moop.shape

(84918, 38)

In [264]:
moop_rename_dict = {
    'MEHBInnIndividualMOOP': 'MED_IN_IND_CODE',
    'MEHBInnIndividualMOOP_TIERS': 'MED_IN_IND_TIERS',
    'MEHBInnTier1IndividualMOOPA': 'MED_IN_IND_TIER1_AMOUNT',
    'MEHBInnTier2IndividualMOOPA': 'MED_IN_IND_TIER2_AMOUNT',

    'DEHBInnIndividualMOOP': 'DRUG_IN_IND_CODE',
    'DEHBInnIndividualMOOP_TIERS': 'DRUG_IN_IND_TIERS',
    'DEHBInnTier1IndividualMOOPA': 'DRUG_IN_IND_TIER1_AMOUNT',
    'DEHBInnTier2IndividualMOOPA': 'DRUG_IN_IND_TIER2_AMOUNT',

    'TEHBInnIndividualMOOP': 'TOT_IN_IND_CODE',
    'TEHBInnIndividualMOOP_TIERS': 'TOT_IN_IND_TIERS',
    'TEHBInnTier1IndividualMOOPA': 'TOT_IN_IND_TIER1_AMOUNT',
    'TEHBInnTier2IndividualMOOPA': 'TOT_IN_IND_TIER2_AMOUNT',

    'MEHBOutOfNetIndividualMOOP': 'MED_OUT_IND_CODE',
    'DEHBOutOfNetIndividualMOOP': 'DRUG_OUT_IND_CODE',
    'TEHBOutOfNetIndividualMOOP': 'TOT_OUT_IND_CODE',

    'MEHBOutOfNetIndividualMOOPA': 'MED_OUT_IND_AMOUNT',
    'DEHBOutOfNetIndividualMOOPA': 'DRUG_OUT_IND_AMOUNT',
    'TEHBOutOfNetIndividualMOOPA': 'TOT_OUT_IND_AMOUNT',

    'MEHBInnFamilyMOOP': 'MED_IN_FAM_CODE',
    'MEHBInnFamilyMOOP_TIERS': 'MED_IN_FAM_TIERS',
    'MEHBInnTier1FamilyMOOPA': 'MED_IN_FAM_TIER1_AMOUNT',
    'MEHBInnTier2FamilyMOOPA': 'MED_IN_FAM_TIER2_AMOUNT',

    'DEHBInnFamilyMOOP': 'DRUG_IN_FAM_CODE',
    'DEHBInnFamilyMOOP_TIERS': 'DRUG_IN_FAM_TIERS',
    'DEHBInnTier1FamilyMOOPA': 'DRUG_IN_FAM_TIER1_AMOUNT',
    'DEHBInnTier2FamilyMOOPA': 'DRUG_IN_FAM_TIER2_AMOUNT',

    'TEHBInnFamilyMOOP': 'TOT_IN_FAM_CODE',
    'TEHBInnFamilyMOOP_TIERS': 'TOT_IN_FAM_TIERS',
    'TEHBInnTier1FamilyMOOPA': 'TOT_IN_FAM_TIER1_AMOUNT',
    'TEHBInnTier2FamilyMOOPA': 'TOT_IN_FAM_TIER2_AMOUNT',

    'MEHBOutOfNetFamilyMOOP': 'MED_OUT_FAM_CODE',
    'DEHBOutOfNetFamilyMOOP': 'DRUG_OUT_FAM_CODE',
    'TEHBOutOfNetFamilyMOOP': 'TOT_OUT_FAM_CODE',

    'MEHBOutOfNetFamilyMOOPA': 'MED_OUT_FAM_AMOUNT',
    'DEHBOutOfNetFamilyMOOPA': 'DRUG_OUT_FAM_AMOUNT',
    'TEHBOutOfNetFamilyMOOPA': 'TOT_OUT_FAM_AMOUNT'
}

moop = moop.rename(columns=moop_rename_dict)
moop.to_csv('data/normalized_tables/moop.csv', index=False)
moop.head()

,PLANID,AREA,MED_IN_IND_CODE,MED_IN_IND_TIERS,MED_IN_IND_TIER1_AMOUNT,MED_IN_IND_TIER2_AMOUNT,DRUG_IN_IND_CODE,DRUG_IN_IND_TIERS,DRUG_IN_IND_TIER1_AMOUNT,DRUG_IN_IND_TIER2_AMOUNT,...,TOT_IN_FAM_CODE,TOT_IN_FAM_TIERS,TOT_IN_FAM_TIER1_AMOUNT,TOT_IN_FAM_TIER2_AMOUNT,MED_OUT_FAM_CODE,DRUG_OUT_FAM_CODE,TOT_OUT_FAM_CODE,MED_OUT_FAM_AMOUNT,DRUG_OUT_FAM_AMOUNT,TOT_OUT_FAM_AMOUNT
0,73836AK0950001,AK01,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,1,1.0,16000.0,NaN,0,0,1,NaN,NaN,54600.0
1,73836AK0950001,AK02,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,1,1.0,16000.0,NaN,0,0,1,NaN,NaN,54600.0
2,73836AK0930001,AK02,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,1,1.0,12000.0,NaN,0,0,1,NaN,NaN,36000.0
3,73836AK0950001,AK03,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,1,1.0,16000.0,NaN,0,0,1,NaN,NaN,54600.0
4,73836AK0930001,AK03,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,1,1.0,12000.0,NaN,0,0,1,NaN,NaN,36000.0

# Summary

The original 723-column wide dataset was decomposed into modular, joinable tables with clear foreign key relationships. All processing was done using `pandas`, and naming was standardized for clarity. This schema supports flexible downstream querying and frontend app integration for the CareFox insurance comparison platform. All final tables were saved to the `../data/normalized_tables` directory:

- `plans.csv`
- `premium.csv`
- `benefits.csv`
- `county_area_crosswalk.csv`
- `deductibles.csv`
- `moop.csv`
- `zip_fips_crosswalk.csv`
- `state_age_curve.csv`